{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Todo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <h1>Edit Todo</h1>
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ todo.title }}" required />
        <button type="submit">Update</button>
        <a href="/todo/">Cancel</a>
      </form>
    </div>
  </body>
</html>
